.carrinho-item{
    background-color: white;
    margin: 1rem ;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 10px;
    display: flex;
    align-items: center;
    max-width: 1000px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;

}

.carrinho-item img{
    width: 280px;
    height: 100%;
    object-fit: cover;
    border-right: 1px solid #ddd;
}

.botoes-quantidade{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.bt-remove{
    border: 1px solid rgb(134, 19, 19);
    color: rgb(207, 28, 28);


}
.msg-carrinho{
   align-self: center;
}

.enviar-pedido{
  color: white; 
  background-color: #70bb6d; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 2rem;
}